.DS_Store
.python-version
/data
/dist
site/

src/kepler_apertures/__pycache__/
src/kepler_apertures/*.lprof

docs/.virtual_documents
docs/.ipynb_checkpoints
docs/.jupyter_symlinks
docs/*.txt
docs/*.fits
docs/*.csv

docs/tutorials/.virtual_documents
docs/tutorials/.ipynb_checkpoints
docs/tutorials/.jupyter_symlinks
