.DS_Store
.python-version
/data
/dist
site/

src/kepler_apertures/__pycache__/
src/kepler_apertures/*.lprof

docs/.virtual_documents
docs/.ipynb_checkpoints
docs/.jupyter_symlinks
docs/*.txt
docs/*.fits
docs/*.csv

tutorials/.virtual_documents
tutorials/.ipynb_checkpoints
tutorials/.jupyter_symlinks
